<nav class="d-flex flex-column border-end gap-2 p-3 h-100" style="width: 260px;">
    <div class="fs-4 text-center mb-4">
        <img src="assets/favicon.ico" width="24">
        Career Desk
    </div>
    <div class="d-flex align-items-center rounded-pill gap-2 px-2 py-1" role="button" routerLink="/jobs" routerLinkActive="secondary-container">
        <span class="material-symbols-rounded fs-5">home</span>
        <div>Home</div>
    </div>
    <div class="d-flex align-items-center rounded-pill gap-2 px-2 py-1" role="button" routerLink="/saved" routerLinkActive="secondary-container">
        <span class="material-symbols-rounded fs-5">bookmark</span>
        <div>Saved Jobs</div>
    </div>
    <div class="d-flex align-items-center rounded-pill gap-2 px-2 py-1" role="button" routerLink="/applied" routerLinkActive="secondary-container">
        <span class="material-symbols-rounded fs-5">assignment_turned_in</span>
        <div>Applied Jobs</div>
    </div>
</nav>