html, body { height: 100%; }
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--mat-sys-surface) !important;
    color: var(--mat-sys-on-surface) !important;
}